*
  font-family: 'Josefin Slab', serif
  &::selection
    background: rgb(0,0,0)
    color: #fff

@mixin totally-align
  position: relative
  top: 50%
  left: 50%
  -webkit-transform: translateY(-50%) translateX(-50%)
  -ms-transform: translateY(-50%) translateX(-50%)
  transform: translateY(-50%) translateX(-50%)

@mixin background-img-alpha
  -khtml-opacity: .0
  -moz-opacity: .0
  -ms-filter: "alpha(opacity=0)"
  filter: alpha(opacity=0)
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.0)
  opacity: .0

// @mixin retina
//   @media
//     only screen and (-webkit-min-device-pixel-ratio: 2),
//     only screen and (min--moz-device-pixel-ratio: 2),
//     only screen and (-o-min-device-pixel-ratio: 2/1),
//     only screen and (min-device-pixel-ratio: 2),
//     only screen and (min-resolution: 192dpi),
//     only screen and (min-resolution: 2dppx) {
//     @content

$mobile: "(min-width: 0px) and (max-width: 768px)"
$tablet: "(min-width: 768px) and (max-width: 1023px)"
$desktop: "(min-width: 1024px)"


body
  background: rgb(208,208,208)
.logo-wrap
  text-align: center
  padding: 40px 0px
  .logo
    width: 30em

.contact-us
  text-align: center
  padding: 20px 0px 50px 0px
  h1
    font-weight: 800
    a
      color: rgb(0,0,0) !important
      text-decoration: none !important
      &:hover
        opacity: .7

.projects
  .project
    margin-top: 20px
    margin-bottom: 80px
    .inner-wrap
      overflow: hidden
      background: #fff
      img
        padding: 20px
        width: 100%
      .about
        display: none
        @include totally-align
        position: absolute
        h2
          font-weight: 600
          @media #{$mobile}
            font-size: 1.3em
          @media #{$tablet}
            font-size: 2em
        a
          border-bottom: 1px solid
          color: rgb(0,0,0)
          text-decoration: none !important
        a:hover
          opacity: .6

        p,a
          @media #{$mobile}
            font-size: 1em
          @media #{$tablet}
            font-size: 1.8em
          @media #{$desktop}
            font-size: 1em

    .inner-wrap:hover
      img
        @include background-img-alpha
      .about
        display: block

.en
  display: none

.toggle-language
  position: absolute
  top: 10
  right: 15
  font-weight: 700
  font-size: 2em
  cursor: pointer
  &:hover
    opacity: .7